#create-post {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
#create-post form {
  background: #333;
  width: 60%;
  height: 60%;
  border-radius: 5px;
  margin: 1em;
  padding: 0.75em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}
#create-post .form-group {
  display: flex;
  flex-direction: column;
  margin: 0.25em
}
#create-post .form-group input[type="text"]{
  font-size: 2em;
  border: none;
  border-radius: 5px;
  padding: 0 0.5em;
}
#create-post .form-group textarea{
  border: none;
  border-radius: 5px;
  height: 100%;
}
#create-post .form-body {
  flex: 10;
}
#create-post .button-group {
  display: flex;
  justify-content: center;
}
#create-post .button-group button {
  flex:1;
  margin: 0 1em;
  margin-top: 1em;
  padding: 0.75em;
  border: none;
  background: #5BA353;
  color: #fff;
}
#create-post .button-group button:hover {
  background: #3f723a;
}