#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #546e7a;
  color: #fff;
}
.nav-logo {
  margin-left: 1em;
}
.nav-links {
  display: flex;
}
.nav-item {
  padding: 1.25em 0.75em;
}
.nav-item > * {
  pointer-events: none;
}
.nav-item:hover {
  background: #333;
  cursor: pointer;
}
#navigation a {
  color: #fff;
  text-decoration: none;
}